body {
  margin: 0;
  line-height: normal;
}
.bg,
.bg-icon {
  position: absolute;
  left: 0;
}
.bg-icon {
  top: 137px;
  width: 1920px;
  height: 876px;
  object-fit: cover;
}
.bg {
  top: 0;
  border-radius: 10px;
  background-color: #4475f2;
  box-shadow: 40px 40px 35px rgba(68, 117, 242, 0.21);
  width: 320px;
  height: 79.12px;
}
.start-prediction {
  position: absolute;
  top: 15.91px;
  left: 8px;
  font-size: 30px;
  display: inline-block;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  text-align: center;
  width: 310px;
  height: 45px;
}
.bg-icon1,
.cta {
  position: absolute;
}
.cta {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 742.09px;
  left: 172px;
  width: 320px;
  height: 79.12px;
}
.bg-icon1 {
  top: 0;
  left: 0;
  width: 1920px;
  height: 137.2px;
}
.bg1,
.sign-up1 {
  text-decoration: none;
  position: absolute;
}
.bg1 {
  top: 0;
  left: 0;
  border-radius: 16px 19px 15px 15px;
  
  background-color: #2bccff;
  width: 137.81px;
  height: 57.3px;
}
.sign-up1 {
  top: 11.5px;
  left: 19.25px;
  font-size: 26px;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 99.48px;
  height: 33.82px;
}
.sign-up {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 15px;
  position: absolute;
  top: 33.57px;
  left: 1728.75px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.sign-in1 {
  text-decoration: none;
  position: absolute;
  top: 13.46px;
  left: 24.05px;
  font-size: 26px;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 89.44px;
  height: 33.82px;
}
.sign-in {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 32.61px;
  left: 1564.95px;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.search-bar-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #e5e5e5;
  width: 293.07px;
  height: 58.51px;
}
.input {
  border: 0;
  background-color: #d9d9d9;
  top: 10.39px;
  left: 17.77px;
  border-radius: 7px;
  width: 217px;
  height: 37px;
}
.btn,
.icon,
.input {
  position: absolute;
}
.icon {
  height: 41.02%;
  width: 8.19%;
  top: 29.72%;
  right: 7.27%;
  bottom: 29.26%;
  left: 84.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  top: 12.39px;
  left: 242.77px;
  width: 37px;
  height: 38px;
  opacity: 0;
}
.search-bar,
.vector-icon {
  position: absolute;
  top: 32.61px;
  left: 1238.23px;
  width: 293.07px;
  height: 58.51px;
}
.vector-icon {
  height: 99.71%;
  width: 95.28%;
  top: 0.14%;
  right: 4.47%;
  bottom: 0.14%;
  left: 0.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nortification-icon-child {
  position: absolute;
  top: 5.21px;
  left: 32.25px;
  width: 15px;
  height: 15.02px;
  object-fit: cover;
}
.nortification-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 37.86%;
  width: 2.46%;
  top: 26.86%;
  right: 37.08%;
  bottom: 35.28%;
  left: 60.46%;
}
.disease-predictor1 {
  color: #000aff;
}
.span {
  color: #ad2323;
}
.disease-predictor-txt-container {
  line-break: anywhere;
  width: 100%;
}
.disease-predictor {
  position: absolute;
  top: 11px;
  left: 161px;
  font-size: 58px;
  font-weight: 600;
  font-family: Poppins;
  text-align: left;
  display: flex;
  align-items: center;
  width: 650px;
  height: 90px;
  text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.25);
}
.icon1,
.logo {
  position: absolute;
  height: 125px;
}
.icon1 {
  top: 0;
  left: 0;
  width: 143px;
  object-fit: cover;
}
.logo {
  text-decoration: none;
  top: 8px;
  left: 36px;
  width: 811px;
}
.about-us1,
.background,
.nav-bar,
.part1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
}
.nav-bar {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
  height: 137.2px;
  background-color: #EB455F;
}
.about-us1,
.background,
.part1 {
  height: 1013px;
}
.about-us1,
.background {
  background-color: #fcffe7;
  height: 921px;
}
.about-us1 {
  border-radius: 34px;
  background-color: #f9deb5;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  width: 938px;
  height: 374px;
}
.about-us2 {
  position: absolute;
  top: 35px;
  left: 374px;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 263px;
}
.span1 {
  letter-spacing: 0.08em;
}
.our-team {
  font-size: 35px;
  font-family: Inter;
}
.nd-year-cse-aiml-tmslkolkata {
  font-weight: 500;
}
.our-team-2nd-year-c {
  margin-block-start: 0;
  margin-block-end: 0;
}
.linked-in2 {
  text-decoration: underline;
}
.linked-in {
  color: inherit;
}
.yousuf-minhaj-linked-in {
  margin-bottom: 0;
}
.md-zaib-reyaz-linked-in {
  margin: 0;
  padding-left: 40px;
}
.label {
  position: absolute;
  top: 91px;
  left: 87px;
  line-height: 10px;
  color: inherit;
  white-space: pre-wrap;
  display: inline-block;
  width: 851px;
  font-size: 30px;
  font-family: Inter;
}
.about-us,
.bg3 {
  position: absolute;
  top: 450px;
  left: 860px;
  width: 938px;
  height: 374px;
}
.bg3 {
  top: 0;
  left: 0;
  border-radius: 34px;
  background-color: #ecfec6;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  width: 739px;
  height: 768px;
}
.contact-us1 {
  position: absolute;
  top: 52px;
  left: 225px;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 301px;
  height: 35px;
}
.alert {
  position: absolute;
  top: 100px;
  left: 230px;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-size: 20px;
  /* font-weight: 600px; */
  color:#000000;
  background-color: rgb(48, 246, 41);
  padding: 10px 0px 0px 15px;
  border-radius: 10px;
  display: inline-block;
  width: 235px;
  height: 35px;
  display: none;
}
.icon2 {
  position: relative;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.phone2 {
  font-weight: 600;
}
.p {
  margin: 0;
  color: #dd5471;
}
.text {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.icon3 {
  position: relative;
  width: 24.82px;
  height: 22.75px;
  flex-shrink: 0;
}
.details {
  position: absolute;
  top: 690px;
  left: 117px;
  width: 511px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 12px;
  color: #000;
}
.label1 {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #344054;
  text-align: left;
}
.content {
  border: 0;
  background-color: transparent;
  width: 517px;
  height: 30px;
  flex-shrink: 0;
}
.div,
.input1 {
  align-self: stretch;
}
.input1 {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #d0d5dd;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 7px 11px;
  align-items: center;
  justify-content: flex-start;
}
.div {
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.content1,
.div,
.div1 {
  display: flex;
  justify-content: flex-start;
}
.content1 {
  border: 0;
  background-color: transparent;
  width: 517px;
  height: 30px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
}
.div1 {
  width: 548px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.dropdown {
  align-self: stretch;
  width: 80px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 12px 12px 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.content2 {
  border: 0;
  background-color: transparent;
  width: 425px;
  height: 46px;
  flex-shrink: 0;
}
.input3 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #d0d5dd;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.label4 {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #344054;
  text-align: left;
  display: inline-block;
  width: 61px;
  height: 24px;
  flex-shrink: 0;
}
.content3 {
  border: 0;
  background-color: transparent;
  flex: 1;
  height: 131px;
}
.input4,
.text-fields {
  display: flex;
  justify-content: flex-start;
}
.input4 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #d0d5dd;
  overflow: hidden;
  flex-direction: row;
  padding: 12px 16px;
  align-items: center;
}
.text-fields {
  position: absolute;
  top: 138px;
  left: 91px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.btn1,
.text3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text3 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 160%;
  text-transform: uppercase;
  font-family: Inter;
  color: #fff;
  text-align: center;
  width: 134px;
}
.btn1 {
  cursor: pointer;
  border: 0;
  padding: 16px 0;
  background-color: #0982fe;
  position: absolute;
  top: 616px;
  left: 94px;
  border-radius: 10px;
  width: 549px;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
}
.contact-us {
  top: 56px;
  left: 90px;
  width: 739px;
  height: 768px;
}
.contact-us,
.map,
.part2 {
  position: absolute;
}
.map {
  border: 0;
  border-radius: 35px;
  top: 56px;
  left: 860px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  width: 938px;
  height: 368px;
}
.part2 {
  top: 1013px;
  left: 0;
  width: 1920px;
  height: 921px;
}
.home {
  position: relative;
  width: 100%;
  height: 1934px;
  text-align: left;
  font-size: 50px;
  color: #ad2323;
  font-family: Montserrat;
}
