body {
    margin: 0;
    line-height: normal;
  }
  .bg-icon14,
  .bg-icon15 {
    position: absolute;
    left: 0;
    width: 1920px;
  }
  .bg-icon14 {
    top: 137px;
    height: 876px;
    object-fit: cover;
  }
  .bg-icon15 {
    top: 0;
    height: 137.2px;
  }
  .bg16,
  .sign-up15 {
    text-decoration: none;
    position: absolute;
  }
  .bg16 {
    top: 0;
    left: 0;
    border-radius: 16px 19px 15px 15px;
    background-color: #2bccff;
    width: 137.81px;
    height: 57.3px;
  }
  .sign-up15 {
    top: 11.5px;
    left: 19.25px;
    font-size: 26px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
    text-align: left;
    display: inline-block;
    width: 99.48px;
    height: 33.82px;
  }
  .sign-up14 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 33.57px;
    left: 1728.75px;
    border-radius: 15px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    width: 137.81px;
    height: 57.3px;
    display: none;
  }
  .sign-in16 {
    text-decoration: none;
    position: absolute;
    top: 13.46px;
    left: 24.05px;
    font-size: 26px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
    text-align: left;
    display: inline-block;
    width: 89.44px;
    height: 33.82px;
  }
  .sign-in15 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 32.61px;
    left: 1564.95px;
    border-radius: 15px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    width: 137.81px;
    height: 57.3px;
  }
  .search-bar-child6 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: #e5e5e5;
    width: 293.07px;
    height: 58.51px;
  }
  .input25 {
    border: 0;
    background-color: #d9d9d9;
    top: 10.39px;
    left: 17.77px;
    padding-left: 20px;
    border-radius: 7px;
    width: 195px;
    height: 37px;
  }
  .btn8,
  .icon18,
  .input25 {
    position: absolute;
  }
  .icon18 {
    height: 41.02%;
    width: 8.19%;
    top: 29.72%;
    right: 7.27%;
    bottom: 29.26%;
    left: 84.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .btn8 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #d9d9d9;
    top: 12.39px;
    left: 242.77px;
    width: 37px;
    height: 38px;
    opacity: 0;
  }
  .search-bar8,
  .vector-icon10 {
    position: absolute;
    top: 32.61px;
    left: 1238.23px;
    width: 293.07px;
    height: 58.51px;
  }
  .vector-icon10 {
    height: 99.71%;
    width: 95.28%;
    top: 0.14%;
    right: 4.47%;
    bottom: 0.14%;
    left: 0.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .nortification-icon-child5 {
    position: absolute;
    top: 5.21px;
    left: 32.25px;
    width: 15px;
    height: 15.02px;
    object-fit: cover;
  }
  .nortification-icon7 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 37.86%;
    width: 2.46%;
    top: 26.86%;
    right: 37.08%;
    bottom: 35.28%;
    left: 60.46%;
  }
  .disease-predictor15 {
    color: #000aff;
  }
  .span22 {
    color: #ad2323;
  }
  .disease-predictor-txt-container7 {
    line-break: anywhere;
    width: 100%;
  }
  .disease-predictor14 {
    position: absolute;
    top: 11px;
    left: 161px;
    font-size: 58px;
    font-weight: 600;
    font-family: Poppins;
    text-align: left;
    display: flex;
    align-items: center;
    width: 650px;
    height: 90px;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.25);
  }
  .icon19,
  .logo7 {
    position: absolute;
    height: 125px;
  }
  .icon19 {
    top: 0;
    left: 0;
    width: 143px;
    object-fit: cover;
  }
  .logo7 {
    text-decoration: none;
    top: 8px;
    left: 36px;
    width: 811px;
  }
  .group-child73,
  .nav-bar7,
  .part17 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
  }
  .nav-bar7 {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
    height: 137.2px;
    background-color: #EB455F;
  }
  .group-child73,
  .part17 {
    height: 1013px;
  }
  .group-child73 {
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.08);
    width: 558px;
    height: 755px;
  }
  .sign-in18,
  .welcome-to {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  .sign-in18 {
    top: 33.62px;
    font-weight: 500;
    width: 188.42px;
    height: 84.57px;
  }
  .welcome-to {
    top: 3.06px;
    font-size: 25px;
    letter-spacing: 0.03em;
    width: 194.63px;
    height: 30.57px;
  }
  .no-account {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .sign-up16 {
    margin: 0;
    color: #b87514;
  }
  .no-account-container {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 330px;
    font-size: 19px;
    font-weight: 700;
    display: inline-block;
    width: 135px;
    
    height: 48.91px;
    color: #8d8d8d;
    background-color: transparent;
    border:none;
    cursor: pointer;
  }
  .sign-in-parent {
    position: absolute;
    top: 52.98px;
    left: 45.55px;
    width: 475.18px;
    height: 118.19px;
    font-size: 55px;
  }
  .enter-your-username,
  .instance-child {
    position: absolute;
    top: -2.17%;
    left: 0;
  }
  .instance-child {
    border: 1px solid #4285f4;
    background-color: #fff;
    height: 61.96%;
    width: 100%;
    top: 38.04%;
    padding-left: 20px;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    box-sizing: border-box;
  }
  .username-or-email {
    position: absolute;
    height: 20.65%;
    width: 66.96%;
    top: 58.7%;
    left: 5.54%;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    display: none;
  }
  .enter-your-username-or-email-a-parent,
  .instance-item {
    position: absolute;
    top: 205.82px;
    left: 45.55px;
    width: 466.9px;
    height: 93.74px;
  }
  .instance-item {
    border: 1px solid #adadad;
    background-color: #fff;
    height: 61.96%;
    width: 100%;
    top: 38.04%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 9px;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .enter-your-password-parent,
  .forgot-password {
    position: absolute;
    top: 0;
    left: 0;
    width: 466.9px;
    height: 93.74px;
  }
  .forgot-password {
    text-decoration: none;
    top: 108.73px;
    left: 308.45px;
    font-size: 18px;
    font-weight: 700;
    color: #ad3113;
    display: inline-block;
    width: 158px;
    height: 21px;
  }
  .instance-parent,
  .rectangle-a {
    position: absolute;
    top: 338.27px;
    left: 45.55px;
    width: 466.9px;
    height: 129.73px;
  }
  .rectangle-a {
    text-decoration: none;
    top: 0;
    left: 0;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    
    background-color: #eb455f;
    box-shadow: 0 4px 19px rgba(119, 147, 65, 0.3);
    height: 55.02px;
    cursor: pointer;
  }
  .sign-in19 {
    position: absolute;
    top: 15.28px;
    left: 204.98px;
    font-weight: 500;
    display: inline-block;
    width: 57.97px;
    height: 24.45px;
  }
  .rectangle-parent21 {
    position: absolute;
    top: 500.28px;
    left: 45.55px;
    width: 466.9px;
    height: 55.02px;
    cursor: pointer;
    color: #fff;
  }
  .eye-1-icon {
    position: absolute;
    top: 393.03px;
    left: 466px;
    width: 22.78px;
    height: 19.36px;
    overflow: hidden;
  }
  .group-child74,
  .group-parent7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 558px;
    height: 755px;
  }
  .group-child74 {
    text-decoration: none;
    border-radius: 9px;
    background-color: #fff4e3;
    width: 308.5px;
    height: 56.04px;
  }
  .google-icon {
    position: absolute;
    top: 15.28px;
    left: 33.13px;
    width: 26.92px;
    height: 26.49px;
    overflow: hidden;
  }
  .sign-in-with {
    position: absolute;
    top: 20px;
    left: 80px;
    display: inline-block;
    width: 185px;
    height: 26px;
    font-size: 16px;
  }
  .group-child75,
  .rectangle-parent22 {
    position: absolute;
    top: 1.02px;
    left: 85px;
    width: 308.5px;
    height: 56.04px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .group-child75 {
    text-decoration: none;
    top: 0;
    border-radius: 9px;
    background-color: #f6f6f6;
    width: 62.12px;
  }
  .facebook-icon {
    position: absolute;
    top: 12.23px;
    left: 15.53px;
    width: 30.02px;
    height: 29.55px;
  }
  .apple-icon,
  .rectangle-parent23 {
    position: absolute;
    top: 1.02px;
    left: 329.2px;
    width: 62.12px;
    height: 56.04px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: none;
  }
  .apple-icon {
    height: 50.91%;
    width: 48.33%;
    top: 23.64%;
    right: 26.67%;
    bottom: 25.45%;
    left: 25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .rectangle-parent24 {
    position: absolute;
    top: 0;
    left: 404.78px;
    width: 62.12px;
    height: 56.04px;
    background-color: #f6f6f6;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: none;
  }
  .group-parent8 {
    top: 645.98px;
    left: 45.55px;
    width: 466.89px;
    height: 57.06px;
    font-size: 19px;
    color: #020100;
  }
  .group-parent8,
  .or,
  .sign-in17 {
    position: absolute;
  }
  .or {
    top: 588.92px;
    left: 268.13px;
    color: #ababab;
    display: inline-block;
    width: 23.81px;
    height: 24.45px;
  }
  .sign-in17 {
    top: 194px;
    left: 247px;
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 558px;
    height: 755px;
    /* display: none; */
  }
  .sign-in14 {
    position: relative;
    width: 100%;
    height: 1013px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
  }
  /* ------------------------------------------------------------------ */
  .bg-icon16,
  .bg-icon17 {
    position: absolute;
    left: 0;
    width: 1920px;
  }
  .bg-icon16 {
    top: 137px;
    height: 876px;
    object-fit: cover;
  }
  .bg-icon17 {
    top: 0;
    height: 137.2px;
  }
  .bg18,
  .sign-up19 {
    text-decoration: none;
    position: absolute;
  }
  .bg18 {
    top: 0;
    left: 0;
    border-radius: 16px 19px 15px 15px;
    background-color: #2bccff;
    width: 137.81px;
    height: 57.3px;
  }
  .sign-up19 {
    top: 11.5px;
    left: 19.25px;
    font-size: 26px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
    text-align: left;
    display: inline-block;
    width: 99.48px;
    height: 33.82px;
  }
  .sign-up18 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 33.57px;
    left: 1728.75px;
    border-radius: 15px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    width: 137.81px;
    height: 57.3px;
  }
  .sign-in21 {
    text-decoration: none;
    position: absolute;
    top: 13.46px;
    left: 24.05px;
    font-size: 26px;
    font-weight: 600;
    font-family: Inter;
    color: #000;
    text-align: left;
    display: inline-block;
    width: 89.44px;
    height: 33.82px;
  }
  .sign-in20 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 32.61px;
    left: 1564.95px;
    border-radius: 15px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    width: 137.81px;
    height: 57.3px;
    /* display: none; */
  }
  .search-bar-child7 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: #e5e5e5;
    width: 293.07px;
    height: 58.51px;
  }
  .input26 {
    border: 0;
    background-color: #d9d9d9;
    top: 10.39px;
    left: 17.77px;
    border-radius: 7px;
    width: 217px;
    height: 37px;
  }
  .btn9,
  .icon20,
  .input26 {
    position: absolute;
  }
  .icon20 {
    height: 41.02%;
    width: 8.19%;
    top: 29.72%;
    right: 7.27%;
    bottom: 29.26%;
    left: 84.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .btn9 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #d9d9d9;
    top: 12.39px;
    left: 242.77px;
    width: 37px;
    height: 38px;
    opacity: 0;
  }
  .search-bar9,
  .vector-icon11 {
    position: absolute;
    top: 32.61px;
    left: 1238.23px;
    width: 293.07px;
    height: 58.51px;
  }
  .vector-icon11 {
    height: 99.71%;
    width: 95.28%;
    top: 0.14%;
    right: 4.47%;
    bottom: 0.14%;
    left: 0.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .nortification-icon-child6 {
    position: absolute;
    top: 5.21px;
    left: 32.25px;
    width: 15px;
    height: 15.02px;
    object-fit: cover;
  }
  .nortification-icon8 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    height: 37.86%;
    width: 2.46%;
    top: 26.86%;
    right: 37.08%;
    bottom: 35.28%;
    left: 60.46%;
  }
  .disease-predictor17 {
    color: #000aff;
  }
  .span23 {
    color: #ad2323;
  }
  .disease-predictor-txt-container8 {
    line-break: anywhere;
    width: 100%;
  }
  .disease-predictor16 {
    position: absolute;
    top: 11px;
    left: 161px;
    font-size: 58px;
    font-weight: 600;
    font-family: Poppins;
    text-align: left;
    display: flex;
    align-items: center;
    width: 650px;
    height: 90px;
    text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.25);
  }
  .icon21,
  .logo8 {
    position: absolute;
    height: 125px;
  }
  .icon21 {
    top: 0;
    left: 0;
    width: 143px;
    object-fit: cover;
  }
  .logo8 {
    text-decoration: none;
    top: 8px;
    left: 36px;
    width: 811px;
  }
  .nav-bar8,
  .part18,
  .sign-up-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
  }
  .nav-bar8 {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
    height: 137.2px;
    background-color: #EB455F;
  }
  .part18,
  .sign-up-child {
    height: 1013px;
  }
  .sign-up-child {
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.08);
    width: 559px;
    height: 755px;
  }
  .have-an-account {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .sign-in22 {
    margin: -35px;
    padding-left: 50px;
    color: #b87514;
  }
  .have-an-account-container {
    position: absolute;
    top: 0;
    height: 10px;
    left: 0;
    white-space: pre-wrap;
    cursor: pointer;
  }
  .have-an-account-sign-in-wrapper {
    text-decoration: none;
    position: absolute;
    top: 53px;
    left: 340px;
    width: 181px;
    height: 58px;
    font-size: 19px;
    color: #8d8d8d;
    background-color: transparent;
    border: none;
  }
  .sign-up21 {
    position: absolute;
    top: 87px;
    left: 47px;
    font-size: 55px;
    font-weight: 500;
  }
  .rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #eb455f;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 4px 19px rgba(119, 147, 65, 0.3);
    width: 451px;
    height: 54px;
  }
  .sign-up22 {
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 184px;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    width: 74px;
  }
  .rectangle-parent25 {
    position: absolute;
    top: 615px;
    left: 58px;
    width: 451px;
    height: 54px;
    cursor: pointer;
    color: #fff;
  }
  .enter-your-username1,
  .instance-inner {
    position: absolute;
    top: -2.17%;
    left: 0;
  }
  .instance-inner {
    border: 1px solid #4285f4;
    background-color: #fff;
    padding-left: 20px;
    height: 61.96%;
    width: 100%;
    top: 38.04%;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    box-sizing: border-box;
  }
  .username-or-email1 {
    position: absolute;
    height: 20.65%;
    width: 66.96%;
    top: 58.7%;
    left: 5.54%;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    display: none;
  }
  .enter-your-username-or-email-a-group,
  .rectangle-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 466px;
    height: 97.14px;
  }
  .rectangle-input {
    border: 1px solid #adadad;
    background-color: #fff;
    height: 61.96%;
    width: 100%;
    top: 38.04%;
    right: 0;
    bottom: 0;
    border-radius: 9px;
    box-sizing: border-box;
    padding-left: 20px;
  }
  .enter-your-password-group {
    position: absolute;
    top: 120px;
    left: 0;
    width: 466px;
    height: 97.14px;
  }
  .instance-child1,
  .user-name {
    position: absolute;
    width: 129.34%;
    left: 0;
  }
  .user-name {
    top: 0;
    display: inline-block;
  }
  .instance-child1 {
    border: 1px solid #adadad;
    background-color: #fff;
    height: 66.28%;
    top: 33.72%;
    right: -29.34%;
    bottom: 0;
    border-radius: 9px;
    box-sizing: border-box;
  }
  .user-name1 {
    position: absolute;
    width: 121.56%;
    top: 56.98%;
    left: 7.78%;
    font-size: 14px;
    font-weight: 300;
    color: gray;
    display: none;
  }
  .contact-number-parent,
  .user-name-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 172.55px;
    height: 90.81px;
  }
  .contact-number-parent {
    left: 242.82px;
  }
  .instance-container,
  .instance-group {
    position: absolute;
    top: 134.1px;
    left: 0;
    width: 415.37px;
    height: 90.81px;
  }
  .instance-group {
    top: 206px;
    left: 47px;
    width: 466px;
    height: 359px;
  }
  .welcome-to1 {
    position: absolute;
    top: 56px;
    left: 47px;
    font-size: 25px;
    letter-spacing: 0.03em;
  }
  .sign-up20 {
    position: absolute;
    top: 191px;
    left: 242px;
    width: 559px;
    height: 755px;
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    /* display: none; */
  }
  .sign-up17 {
    position: relative;
    width: 100%;
    height: 1013px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
  }
#sign-up {
  display: none;
}
#sign-in {
  display: inline;
}
#result-box{
  display: none;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 14pt;
  color: green;
}
.sign-out-btn-style{
  padding: 15px;
  border-radius: 15px;
  width: 150px;
  font-size: 20px;
  margin-left: 150px;
}
