body {
  margin: 0;
  line-height: normal;
}
.bg-icon10,
.bg-icon11 {
  position: absolute;
  left: 0;
  width: 1920px;
  background-color: #EB455F;
}
.bg-icon10 {
  top: 137px;
  height: 876px;
  object-fit: cover;
}
.bg-icon11 {
  top: 0;
  height: 137.2px;
}
.bg12,
.sign-up11 {
  text-decoration: none;
  position: absolute;
}
.bg12 {
  top: 0;
  left: 0;
  border-radius: 16px 19px 15px 15px;
  background-color: #2bccff;
  width: 137.81px;
  height: 57.3px;
}
.sign-up11 {
  top: 11.5px;
  left: 19.25px;
  font-size: 26px;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 99.48px;
  height: 33.82px;
}
.sign-up10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 33.57px;
  left: 1728.75px;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.sign-in11 {
  text-decoration: none;
  position: absolute;
  top: 13.46px;
  left: 24.05px;
  font-size: 26px;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 89.44px;
  height: 33.82px;
}
.sign-in10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 32.61px;
  left: 1564.95px;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.search-bar-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #e5e5e5;
  width: 293.07px;
  height: 58.51px;
}
.input9 {
  border: 0;
  background-color: #d9d9d9;
  top: 10.39px;
  left: 17.77px;
  border-radius: 7px;
  width: 217px;
  height: 37px;
}
.btn6,
.icon13,
.input9 {
  position: absolute;
}
.icon13 {
  height: 41.02%;
  width: 8.19%;
  top: 29.72%;
  right: 7.27%;
  bottom: 29.26%;
  left: 84.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btn6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  top: 12.39px;
  left: 242.77px;
  width: 37px;
  height: 38px;
  opacity: 0;
}
.search-bar6,
.vector-icon8 {
  position: absolute;
  top: 32.61px;
  left: 1238.23px;
  width: 293.07px;
  height: 58.51px;
}
.vector-icon8 {
  height: 99.71%;
  width: 95.28%;
  top: 0.14%;
  right: 4.47%;
  bottom: 0.14%;
  left: 0.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nortification-icon-child3 {
  position: absolute;
  top: 5.21px;
  left: 32.25px;
  width: 15px;
  height: 15.02px;
  object-fit: cover;
}
.nortification-icon5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 37.86%;
  width: 2.46%;
  top: 26.86%;
  right: 37.08%;
  bottom: 35.28%;
  left: 60.46%;
}
.disease-predictor11 {
  color: #000aff;
}
.span13 {
  color: #ad2323;
}
.disease-predictor-txt-container5 {
  line-break: anywhere;
  width: 100%;
}
.disease-predictor10 {
  position: absolute;
  top: 11px;
  left: 161px;
  font-size: 58px;
  font-weight: 600;
  font-family: Poppins;
  text-align: left;
  display: flex;
  align-items: center;
  width: 650px;
  height: 90px;
  text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.25);
}
.icon14,
.logo5 {
  position: absolute;
  height: 125px;
}
.icon14 {
  top: 0;
  left: 0;
  width: 143px;
  object-fit: cover;
}
.logo5 {
  text-decoration: none;
  top: 8px;
  left: 36px;
  width: 811px;
}
.nav-bar5,
.part15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  background-color: #EB455F;
}
.nav-bar5 {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
  height: 137.2px;
}
.part15 {
  height: 1013px;
}
.select-symptoms {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.title3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.menu-2-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #585757;
  box-sizing: border-box;
  width: 271.5px;
  height: 266px;
}
.menu-2-inner,
.menu-2-item {
  position: absolute;
  top: 59px;
  left: 3.5px;
  background-color: #dad8d8;
  width: 264px;
  height: 52px;
}
.menu-2-inner {
  top: 167px;
}
.angel-falls-venezuela {
  margin-block-start: 0;
  margin-block-end: 0;
}
.angel-falls-venezuela-container,
.niagara-falls-container {
  position: absolute;
  top: 19px;
  left: 54.07px;
  display: inline-block;
  width: 189.26px;
  height: 15px;
}
.niagara-falls-container {
  top: 126px;
}
.iguazu-falls-argentina-container,
.kaieteur-falls-guyana-container,
.victoria-falls-zambia-container {
  position: absolute;
  top: 232px;
  left: 54.07px;
  display: inline-block;
  width: 189.26px;
  height: 15px;
}
.iguazu-falls-argentina-container,
.victoria-falls-zambia-container {
  top: 184px;
}
.victoria-falls-zambia-container {
  top: 74px;
}
.menu-2-child1,
.menu-2-child2 {
  position: absolute;
  top: 4px;
  left: 256.85px;
  background-color: #363434;
  width: 10.14px;
  height: 260px;
}
.menu-2-child2 {
  top: 130px;
  background-color: #a8a4a4;
  height: 51px;
}
.menu-2 {
  position: absolute;
  top: 1px;
  left: 551.5px;
  width: 271.5px;
  height: 266px;
}
.menu-2-child4,
.menu-2-child5,
.menu-2-child7 {
  position: absolute;
  top: 59px;
  left: 3.25px;
  background-color: #dad8d8;
  width: 264px;
  height: 52px;
}
.menu-2-child5,
.menu-2-child7 {
  top: 167px;
}
.menu-2-child7 {
  top: 67px;
  left: 256.85px;
  background-color: #a8a4a4;
  width: 10.14px;
  height: 51px;
}
.menu-21 {
  position: absolute;
  top: 1px;
  left: 275.75px;
  width: 271.5px;
  height: 266px;
}
.menu-1-child1,
.menu-1-inner,
.menu-1-item {
  position: absolute;
  top: 4px;
  left: 3px;
  background-color: #dad8d8;
  width: 264px;
  height: 52px;
}
.menu-1-child1,
.menu-1-inner {
  top: 210px;
}
.menu-1-child1 {
  top: 112px;
}
.niagara-falls-container2 {
  position: absolute;
  top: 126px;
  left: 54.07px;
  display: inline-block;
  width: 189.26px;
}
.menu-1-child3 {
  position: absolute;
  top: 158px;
  left: 256.85px;
  background-color: #a8a4a4;
  width: 10.14px;
  height: 51px;
}
.menu,
.menu-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 271.5px;
  height: 266px;
}
.menu {
  top: 72px;
  width: 823px;
  height: 267px;
}
.selected-4-child,
.selected-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.selected-child {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #000;
  box-sizing: border-box;
  width: 823px;
  height: 61px;
}
.selected-4-child {
  background-color: #e4d18c;
  width: 127px;
  height: 38px;
}
.waterfalls,
.x {
  position: absolute;
  top: 9px;
  left: 12px;
  display: inline-block;
  width: 90px;
}
.x {
  left: 108px;
  width: 9px;
}
.selected-1,
.selected-2,
.selected-3,
.selected-4 {
  position: absolute;
  top: 12px;
  left: 427px;
  width: 127px;
  height: 38px;
}
.selected-1,
.selected-2,
.selected-3 {
  left: 289px;
}
.selected-1,
.selected-2 {
  left: 151px;
}
.selected-1 {
  left: 13px;
}
.div10,
.selected {
  position: absolute;
  height: 61px;
}
.div10 {
  top: 21px;
  left: 782px;
  font-size: 25px;
  display: inline-block;
  width: 26px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.selected {
  top: 0;
  left: 0;
  width: 823px;
}
.menu-parent {
  position: relative;
  width: 823px;
  height: 339px;
  flex-shrink: 0;
  font-size: 16px;
}
.checkbox-icon {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 2px;
  width: 31.22px;
  height: 16px;
}
.gravida-eget-ultricies {
  text-decoration: underline;
  font-weight: 600;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 0;
  left: 56.59px;
  display: inline-block;
  width: 704.41px;
}
.check-box,
.proceed-to-next {
  position: relative;
  flex-shrink: 0;
}
.check-box {
  width: 761px;
  height: 42px;
  font-size: 17px;
}
.proceed-to-next {
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  width: 367px;
}
.button3,
.symptoms {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.button3 {
  text-decoration: none;
  border-radius: 8px;
  background-color: #4cf467;
  width: 399px;
  height: 60px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 20px 60px;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
  color: inherit;
}
.symptoms {
  position: absolute;
  top: 186px;
  left: 107px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  border: 2px solid #dbdbdb;
  width: 943px;
  overflow: hidden;
  flex-direction: column;
  padding: 60px;
  justify-content: flex-start;
  gap: 30px;
}
.step-2 {
  position: relative;
  width: 100%;
  height: 1013px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Inter;
}
