body {
  margin: 0;
  line-height: normal;
}
.bg-icon12,
.bg-icon13 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.bg-icon12 {
  top: 137px;
  height: 876px;
  object-fit: cover;
}
.bg-icon13 {
  top: 0;
  height: 137.2px;
}
.bg14,
.sign-up13 {
  text-decoration: none;
  position: absolute;
}
.bg14 {
  top: 0;
  left: 0;
  border-radius: 16px 19px 15px 15px;
  background-color: #2bccff;
  width: 137.81px;
  height: 57.3px;
}
.sign-up13 {
  top: 11.5px;
  left: 19.25px;
  font-size: 26px;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 99.48px;
  height: 33.82px;
}
.sign-up12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 33.57px;
  left: 1728.75px;border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.sign-in13 {
  text-decoration: none;
  position: absolute;
  top: 13.46px;
  left: 24.05px;
  font-size: 26px;
  font-weight: 600;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 89.44px;
  height: 33.82px;
}
.sign-in12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 32.61px;
  left: 1564.95px;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  width: 137.81px;
  height: 57.3px;
}
.search-bar-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  background-color: #e5e5e5;
  width: 293.07px;
  height: 58.51px;
}
.input10 {
  border: 0;
  background-color: #d9d9d9;
  top: 10.39px;
  left: 17.77px;
  border-radius: 7px;
  width: 217px;
  height: 37px;
}
.btn7,
.icon15,
.input10 {
  position: absolute;
}
.icon15 {
  height: 41.02%;
  width: 8.19%;
  top: 29.72%;
  right: 7.27%;
  bottom: 29.26%;
  left: 84.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btn7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  top: 12.39px;
  left: 242.77px;
  width: 37px;
  height: 38px;
  opacity: 0;
}
.search-bar7,
.vector-icon9 {
  position: absolute;
  top: 32.61px;
  left: 1238.23px;
  width: 293.07px;
  height: 58.51px;
}
.vector-icon9 {
  height: 99.71%;
  width: 95.28%;
  top: 0.14%;
  right: 4.47%;
  bottom: 0.14%;
  left: 0.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nortification-icon-child4 {
  position: absolute;
  top: 5.21px;
  left: 32.25px;
  width: 15px;
  height: 15.02px;
  object-fit: cover;
}
.nortification-icon6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 37.86%;
  width: 2.46%;
  top: 26.86%;
  right: 37.08%;
  bottom: 35.28%;
  left: 60.46%;
}
.disease-predictor13 {
  color: #000aff;
}
.span14 {
  color: #ad2323;
}
.disease-predictor-txt-container6 {
  line-break: anywhere;
  width: 100%;
}
.disease-predictor12 {
  position: absolute;
  top: 11px;
  left: 161px;
  font-size: 58px;
  font-weight: 600;
  font-family: Poppins;
  text-align: left;
  display: flex;
  align-items: center;
  width: 650px;
  height: 90px;
  text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.25);
}
.icon16,
.logo6 {
  position: absolute;
  height: 125px;
}
.icon16 {
  top: 0;
  left: 0;
  width: 143px;
  object-fit: cover;
}
.logo6 {
  text-decoration: none;
  top: 8px;
  left: 36px;
  width: 811px;
}
.nav-bar6,
.part16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  background-color: #EB455F;
}
.nav-bar6 {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
  height: 137.2px;
}
.part16 {
  height: 1013px;
}
.title4,
.welcome {
  align-self: stretch;
}
.welcome {
  position: relative;
  font-weight: 600;
}
.title4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.base-input-rounded-not-sel,
.input12 {
  background-color: #fff;
  position: absolute;
}
.base-input-rounded-not-sel {
  width: 100%;
  top: calc(50% - 23px);
  right: 0;
  left: 0;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #d2d5da;
  box-sizing: border-box;
  height: 46px;
}
.input12 {
  border: 0;
  top: 8px;
  left: 19px;
  width: 361px;
  height: 30px;
}
.span15,
.title5 {
  position: relative;
  font-weight: 600;
}
.span15 {
  color: red;
}
.mini-title-contaier {
  position: absolute;
  top: -7px;
  left: 12.15px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.input-section {
  align-self: stretch;
  position: relative;
  height: 46px;
  flex-shrink: 0;
}
.input-title-section,
.input11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-title-section {
  align-self: stretch;
}
.input11 {
  flex: 1;
}
.input14 {
  border: 0;
  background-color: #fff;
  position: absolute;
  top: 9px;
  left: 22px;
  width: 361px;
  height: 30px;
}
.lebel{
  left:20px;
}
.input-parent,
.radio-button1,
.radio-button2,
.radio-button3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-parent {
  align-self: stretch;
  gap: 25px;
}
.radio-button1,
.radio-button2,
.radio-button3 {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}
.radio-button2,
.radio-button3 {
  left: 75px;
  width: 15px;
}
.radio-button3 {
  left: 165px;
  width: 15px;
}
.radio-button {
  position: absolute;
  /* border: solid 1px #000; */
  top: 11px;
  left: 15px;
  width: 367px;
  height: 24px;
}
.input-section6 {
  position: relative;
  width: 400px;
  height: 46px;
  flex-shrink: 0;
}
.input-title-section6 {
  width: 823px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.label1{
  margin-left: 35px;
  font-size: 15px;
}
.label2{
  margin-left: 35px;
  font-size: 15px;
}
.label3{
  margin-left: 35px;
  font-size: 15px;
}
.select-parent {
  position: absolute;
  top: 8px;
  left: 60px;
  width: 240px;
  height: 30px;
}
.icon17 {
  position: relative;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.placeholder {
  position: relative;
  font-weight: 500;
  display: none;
}
.input-items-group {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 213px;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.input23,
.mini-title-contaier7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mini-title-contaier7 {
  position: absolute;
  top: -7px;
  left: 12.15px;
  border-radius: 30px;
  background-color: #fff;
  flex-direction: row;
  padding: 0 5px;
  font-size: 12px;
  color: #121826;
}
.input23 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 506px 0 0;
  font-size: 14px;
  color: #6c727f;
}
.artwork-icon {
  position: relative;
  border-radius: 2px;
  width: 22px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.flag-united-states-of-ameri {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-items-group1,
.mini-title-contaier8 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-items-group1 {
  top: 12px;
  left: 12px;
  width: 213px;
  padding: 0 16px;
  box-sizing: border-box;
  align-items: center;
}
.mini-title-contaier8 {
  top: -7px;
  left: 12.15px;
  border-radius: 30px;
  background-color: #fff;
  padding: 0 5px;
  align-items: flex-start;
}
.input24 {
  padding: 0 506px 0 0;
  align-items: flex-start;
}
.form3,
.input-group,
.input24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input-group {
  align-items: flex-start;
  gap: 25px;
}
.form3 {
  align-items: center;
  text-align: left;
  font-size: 12px;
  color: #121826;
}
.proceed-to-next1 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  width: 369px;
  flex-shrink: 0;
}
.button4,
.register3 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.button4 {
  text-decoration: none;
  border-radius: 8px;
  background-color: #4cf467;
  width: 399px;
  height: 60px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 20px 60px;
  justify-content: center;
  cursor: pointer;
  font-size: 28px;
  color: inherit;
}
.register3 {
  position: absolute;
  top: 186px;
  left: 107px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  border: 2px solid #dbdbdb;
  width: 943px;
  overflow: hidden;
  flex-direction: column;
  padding: 60px;
  justify-content: flex-start;
  gap: 35px;
}
.step-1 {
  position: relative;
  width: 100%;
  height: 1013px;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: Inter;
}
