<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/step-2.css" />
    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="step-2">
      <div class="part15">
        <img class="bg-icon10" alt="" src="../static/images/bg@2x.png" />
        <nav class="nav-bar5">
          <!-- <img class="bg-icon11" alt="" src="./images/bg11.svg" /> -->
          <button
            class="sign-up10"
            autofocus
          >
            <a class="bg12" href="./sign.html"></a
            ><a class="sign-up11" href="./sign.html">Sign up</a></button
          ><button class="sign-in10" autofocus>
            <a class="bg12" href="./sign-in.html"></a
            ><a class="sign-in11" href="./sign-in.html">Sign in</a>
          </button>
          <div class="search-bar6">
            <div class="search-bar-child4"></div>
            <input class="input9" type="text" placeholder="Search here.." /><img
              class="icon13"
              alt=""
              src="../static/images/icon.svg"
            /><button class="btn6" autofocus></button>
          </div>
          <button class="nortification-icon5" autofocus>
            <img class="vector-icon8" alt="" src="../static/images/vector@2x.png" /><img
              class="nortification-icon-child3"
              alt=""
              src="../static/images/ellipse-1@2x.png"
            /></button
          ><a class="logo5" href="./"
            ><span class="disease-predictor10"
              ><span class="disease-predictor-txt-container5"
                ><span class="disease-predictor11">Disease Predictor</span
                ><span class="span13">+</span></span
              ></span
            ><img class="icon14" alt="icon" src="../static/images/icon1@2x.png"
          /></a>
        </nav>
      </div>
      <div class="symptoms">
        <div class="title3">
          <div class="select-symptoms">Select Symptoms :</div>
          <form class="hiddenCB" method="POST" action="/result">
            <div>
        

                <input type="checkbox" name="choice" id="cb1" value="itching"/><label for="cb1">itching</label>
        <input type="checkbox" name="choice" id="cb2" value="skin_rash"/><label for="cb2">skin_rash</label>
        <input type="checkbox" name="choice" id="cb3" value="nodal_skin_eruptions"/><label for="cb3">nodal_skin_eruptions</label>
        <input type="checkbox" name="choice" id="cb4" value="continuous_sneezing"/><label for="cb4">continuous_sneezing</label>
        <input type="checkbox" name="choice" id="cb5" value="shivering"/><label for="cb5">shivering</label>
        <input type="checkbox" name="choice" id="cb6" value="chills"/><label for="cb6">chills</label>
        <input type="checkbox" name="choice" id="cb7" value="joint_pain"/><label for="cb7">joint_pain</label>
        <input type="checkbox" name="choice" id="cb8" value="stomach_pain"/><label for="cb8">stomach_pain</label>
        <input type="checkbox" name="choice" id="cb9" value="acidity"/><label for="cb9">acidity</label>
        <input type="checkbox" name="choice" id="cb10" value="ulcers_on_tongue"/><label for="cb10">ulcers_on_tongue</label>
        <input type="checkbox" name="choice" id="cb11" value="muscle_wasting"/><label for="cb11">muscle_wasting</label>
        <input type="checkbox" name="choice" id="cb12" value="vomiting"/><label for="cb12">vomiting</label>
        <input type="checkbox" name="choice" id="cb13" value="burning_micturition"/><label for="cb13">burning_micturition</label>
        <input type="checkbox" name="choice" id="cb14" value="spotting_ urination"/><label for="cb14">spotting_ urination</label>
        <input type="checkbox" name="choice" id="cb15" value="fatigue"/><label for="cb15">fatigue</label>
        <input type="checkbox" name="choice" id="cb16" value="weight_gain"/><label for="cb16">weight_gain</label>
        <input type="checkbox" name="choice" id="cb17" value="anxiety"/><label for="cb17">anxiety</label>
        <input type="checkbox" name="choice" id="cb18" value="cold_hands_and_feets"/><label for="cb18">cold_hands_and_feets</label>
        <input type="checkbox" name="choice" id="cb19" value="mood_swings"/><label for="cb19">mood_swings</label>
        <input type="checkbox" name="choice" id="cb20" value="weight_loss"/><label for="cb20">weight_loss</label>
        <input type="checkbox" name="choice" id="cb21" value="restlessness"/><label for="cb21">restlessness</label>
        <input type="checkbox" name="choice" id="cb22" value="lethargy"/><label for="cb22">lethargy</label>
        <input type="checkbox" name="choice" id="cb23" value="patches_in_throat"/><label for="cb23">patches_in_throat</label>
        <input type="checkbox" name="choice" id="cb24" value="irregular_sugar_level"/><label for="cb24">irregular_sugar_level</label>
        <input type="checkbox" name="choice" id="cb25" value="cough"/><label for="cb25">cough</label>
        <input type="checkbox" name="choice" id="cb26" value="high_fever"/><label for="cb26">high_fever</label>
        <input type="checkbox" name="choice" id="cb27" value="sunken_eyes"/><label for="cb27">sunken_eyes</label>
        <input type="checkbox" name="choice" id="cb28" value="breathlessness"/><label for="cb28">breathlessness</label>
        <input type="checkbox" name="choice" id="cb29" value="sweating"/><label for="cb29">sweating</label>
        <input type="checkbox" name="choice" id="cb30" value="dehydration"/><label for="cb30">dehydration</label>
        <input type="checkbox" name="choice" id="cb31" value="indigestion"/><label for="cb31">indigestion</label>
        <input type="checkbox" name="choice" id="cb32" value="headache"/><label for="cb32">headache</label>
        <input type="checkbox" name="choice" id="cb33" value="yellowish_skin"/><label for="cb33">yellowish_skin</label>
        <input type="checkbox" name="choice" id="cb34" value="dark_urine"/><label for="cb34">dark_urine</label>
        <input type="checkbox" name="choice" id="cb35" value="nausea"/><label for="cb35">nausea</label>
        <input type="checkbox" name="choice" id="cb36" value="loss_of_appetite"/><label for="cb36">loss_of_appetite</label>
        <input type="checkbox" name="choice" id="cb37" value="pain_behind_the_eyes"/><label for="cb37">pain_behind_the_eyes</label>
        <input type="checkbox" name="choice" id="cb38" value="back_pain"/><label for="cb38">back_pain</label>
        <input type="checkbox" name="choice" id="cb39" value="constipation"/><label for="cb39">constipation</label>
        <input type="checkbox" name="choice" id="cb40" value="abdominal_pain"/><label for="cb40">abdominal_pain</label>
        <input type="checkbox" name="choice" id="cb41" value="diarrhoea"/><label for="cb41">diarrhoea</label>
        <input type="checkbox" name="choice" id="cb42" value="mild_fever"/><label for="cb42">mild_fever</label>
        <input type="checkbox" name="choice" id="cb43" value="yellow_urine"/><label for="cb43">yellow_urine</label>
        <input type="checkbox" name="choice" id="cb44" value="yellowing_of_eyes"/><label for="cb44">yellowing_of_eyes</label>
        <input type="checkbox" name="choice" id="cb45" value="acute_liver_failure"/><label for="cb45">acute_liver_failure</label>
        <input type="checkbox" name="choice" id="cb46" value="fluid_overload"/><label for="cb46">fluid_overload</label>
        <input type="checkbox" name="choice" id="cb47" value="swelling_of_stomach"/><label for="cb47">swelling_of_stomach</label>
        <input type="checkbox" name="choice" id="cb48" value="swelled_lymph_nodes"/><label for="cb48">swelled_lymph_nodes</label>
        <input type="checkbox" name="choice" id="cb49" value="malaise"/><label for="cb49">malaise</label>
        <input type="checkbox" name="choice" id="cb50" value="blurred_and_distorted_vision"/><label for="cb50">blurred_and_distorted_vision</label>
        <input type="checkbox" name="choice" id="cb51" value="phlegm"/><label for="cb51">phlegm</label>
        <input type="checkbox" name="choice" id="cb52" value="throat_irritation"/><label for="cb52">throat_irritation</label>
        <input type="checkbox" name="choice" id="cb53" value="redness_of_eyes"/><label for="cb53">redness_of_eyes</label>
        <input type="checkbox" name="choice" id="cb54" value="sinus_pressure"/><label for="cb54">sinus_pressure</label>
        <input type="checkbox" name="choice" id="cb55" value="runny_nose"/><label for="cb55">runny_nose</label>
        <input type="checkbox" name="choice" id="cb56" value="congestion"/><label for="cb56">congestion</label>
        <input type="checkbox" name="choice" id="cb57" value="chest_pain"/><label for="cb57">chest_pain</label>
        <input type="checkbox" name="choice" id="cb58" value="weakness_in_limbs"/><label for="cb58">weakness_in_limbs</label>
        <input type="checkbox" name="choice" id="cb59" value="fast_heart_rate"/><label for="cb59">fast_heart_rate</label>
        <input type="checkbox" name="choice" id="cb60" value="pain_during_bowel_movements"/><label for="cb60">pain_during_bowel_movements</label>
        <input type="checkbox" name="choice" id="cb61" value="pain_in_anal_region"/><label for="cb61">pain_in_anal_region</label>
        <input type="checkbox" name="choice" id="cb62" value="bloody_stool"/><label for="cb62">bloody_stool</label>
        <input type="checkbox" name="choice" id="cb63" value="irritation_in_anus"/><label for="cb63">irritation_in_anus</label>
        <input type="checkbox" name="choice" id="cb64" value="neck_pain"/><label for="cb64">neck_pain</label>
        <input type="checkbox" name="choice" id="cb65" value="dizziness"/><label for="cb65">dizziness</label>
        <input type="checkbox" name="choice" id="cb66" value="cramps"/><label for="cb66">cramps</label>
        <input type="checkbox" name="choice" id="cb67" value="bruising"/><label for="cb67">bruising</label>
        <input type="checkbox" name="choice" id="cb68" value="obesity"/><label for="cb68">obesity</label>
        <input type="checkbox" name="choice" id="cb69" value="swollen_legs"/><label for="cb69">swollen_legs</label>
        <input type="checkbox" name="choice" id="cb70" value="swollen_blood_vessels"/><label for="cb70">swollen_blood_vessels</label>
        <input type="checkbox" name="choice" id="cb71" value="puffy_face_and_eyes"/><label for="cb71">puffy_face_and_eyes</label>
        <input type="checkbox" name="choice" id="cb72" value="enlarged_thyroid"/><label for="cb72">enlarged_thyroid</label>
        <input type="checkbox" name="choice" id="cb73" value="brittle_nails"/><label for="cb73">brittle_nails</label>
        <input type="checkbox" name="choice" id="cb74" value="swollen_extremeties"/><label for="cb74">swollen_extremeties</label>
        <input type="checkbox" name="choice" id="cb75" value="excessive_hunger"/><label for="cb75">excessive_hunger</label>
        <input type="checkbox" name="choice" id="cb76" value="extra_marital_contacts"/><label for="cb76">extra_marital_contacts</label>
        <input type="checkbox" name="choice" id="cb77" value="drying_and_tingling_lips"/><label for="cb77">drying_and_tingling_lips</label>
        <input type="checkbox" name="choice" id="cb78" value="slurred_speech"/><label for="cb78">slurred_speech</label>
        <input type="checkbox" name="choice" id="cb79" value="knee_pain"/><label for="cb79">knee_pain</label>
        <input type="checkbox" name="choice" id="cb80" value="hip_joint_pain"/><label for="cb80">hip_joint_pain</label>
        <input type="checkbox" name="choice" id="cb81" value="muscle_weakness"/><label for="cb81">muscle_weakness</label>
        <input type="checkbox" name="choice" id="cb82" value="stiff_neck"/><label for="cb82">stiff_neck</label>
        <input type="checkbox" name="choice" id="cb83" value="swelling_joints"/><label for="cb83">swelling_joints</label>
        <input type="checkbox" name="choice" id="cb84" value="movement_stiffness"/><label for="cb84">movement_stiffness</label>
        <input type="checkbox" name="choice" id="cb85" value="spinning_movements"/><label for="cb85">spinning_movements</label>
        <input type="checkbox" name="choice" id="cb86" value="loss_of_balance"/><label for="cb86">loss_of_balance</label>
        <input type="checkbox" name="choice" id="cb87" value="unsteadiness"/><label for="cb87">unsteadiness</label>
        <input type="checkbox" name="choice" id="cb88" value="weakness_of_one_body_side"/><label for="cb88">weakness_of_one_body_side</label>
        <input type="checkbox" name="choice" id="cb89" value="loss_of_smell"/><label for="cb89">loss_of_smell</label>
        <input type="checkbox" name="choice" id="cb90" value="bladder_discomfort"/><label for="cb90">bladder_discomfort</label>
        <input type="checkbox" name="choice" id="cb91" value="foul_smell_of urine"/><label for="cb91">foul_smell_of urine</label>
        <input type="checkbox" name="choice" id="cb92" value="continuous_feel_of_urine"/><label for="cb92">continuous_feel_of_urine</label>
        <input type="checkbox" name="choice" id="cb93" value="passage_of_gases"/><label for="cb93">passage_of_gases</label>
        <input type="checkbox" name="choice" id="cb94" value="internal_itching"/><label for="cb94">internal_itching</label>
        <input type="checkbox" name="choice" id="cb95" value="toxic_look_(typhos)"/><label for="cb95">toxic_look_(typhos)</label>
        <input type="checkbox" name="choice" id="cb96" value="depression"/><label for="cb96">depression</label>
        <input type="checkbox" name="choice" id="cb97" value="irritability"/><label for="cb97">irritability</label>
        <input type="checkbox" name="choice" id="cb98" value="muscle_pain"/><label for="cb98">muscle_pain</label>
        <input type="checkbox" name="choice" id="cb99" value="altered_sensorium"/><label for="cb99">altered_sensorium</label>
        <input type="checkbox" name="choice" id="cb100" value="red_spots_over_body"/><label for="cb100">red_spots_over_body</label>
        <input type="checkbox" name="choice" id="cb101" value="belly_pain"/><label for="cb101">belly_pain</label>
        <input type="checkbox" name="choice" id="cb102" value="abnormal_menstruation"/><label for="cb102">abnormal_menstruation</label>
        <input type="checkbox" name="choice" id="cb103" value="dischromic _patches"/><label for="cb103">dischromic _patches</label>
        <input type="checkbox" name="choice" id="cb104" value="watering_from_eyes"/><label for="cb104">watering_from_eyes</label>
        <input type="checkbox" name="choice" id="cb105" value="increased_appetite"/><label for="cb105">increased_appetite</label>
        <input type="checkbox" name="choice" id="cb106" value="polyuria"/><label for="cb106">polyuria</label>
        <input type="checkbox" name="choice" id="cb107" value="family_history"/><label for="cb107">family_history</label>
        <input type="checkbox" name="choice" id="cb108" value="mucoid_sputum"/><label for="cb108">mucoid_sputum</label>
        <input type="checkbox" name="choice" id="cb109" value="rusty_sputum"/><label for="cb109">rusty_sputum</label>
        <input type="checkbox" name="choice" id="cb110" value="lack_of_concentration"/><label for="cb110">lack_of_concentration</label>
        <input type="checkbox" name="choice" id="cb111" value="visual_disturbances"/><label for="cb111">visual_disturbances</label>
        <input type="checkbox" name="choice" id="cb112" value="receiving_blood_transfusion"/><label for="cb112">receiving_blood_transfusion</label>
        <input type="checkbox" name="choice" id="cb113" value="receiving_unsterile_injections"/><label for="cb113">receiving_unsterile_injections</label>
        <input type="checkbox" name="choice" id="cb114" value="coma"/><label for="cb114">coma</label>
        <input type="checkbox" name="choice" id="cb115" value="stomach_bleeding"/><label for="cb115">stomach_bleeding</label>
        <input type="checkbox" name="choice" id="cb116" value="distention_of_abdomen"/><label for="cb116">distention_of_abdomen</label>
        <input type="checkbox" name="choice" id="cb117" value="history_of_alcohol_consumption"/><label for="cb117">history_of_alcohol_consumption</label>
        <input type="checkbox" name="choice" id="cb118" value="fluid_overload.1"/><label for="cb118">fluid_overload.1</label>
        <input type="checkbox" name="choice" id="cb119" value="blood_in_sputum"/><label for="cb119">blood_in_sputum</label>
        <input type="checkbox" name="choice" id="cb120" value="prominent_veins_on_calf"/><label for="cb120">prominent_veins_on_calf</label>
        <input type="checkbox" name="choice" id="cb121" value="palpitations"/><label for="cb121">palpitations</label>
        <input type="checkbox" name="choice" id="cb122" value="painful_walking"/><label for="cb122">painful_walking</label>
        <input type="checkbox" name="choice" id="cb123" value="pus_filled_pimples"/><label for="cb123">pus_filled_pimples</label>
        <input type="checkbox" name="choice" id="cb124" value="blackheads"/><label for="cb124">blackheads</label>
        <input type="checkbox" name="choice" id="cb125" value="scurring"/><label for="cb125">scurring</label>
        <input type="checkbox" name="choice" id="cb126" value="skin_peeling"/><label for="cb126">skin_peeling</label>
        <input type="checkbox" name="choice" id="cb127" value="silver_like_dusting"/><label for="cb127">silver_like_dusting</label>
        <input type="checkbox" name="choice" id="cb128" value="small_dents_in_nails"/><label for="cb128">small_dents_in_nails</label>
        <input type="checkbox" name="choice" id="cb129" value="inflammatory_nails"/><label for="cb129">inflammatory_nails</label>
        <input type="checkbox" name="choice" id="cb130" value="blister"/><label for="cb130">blister</label>
        <input type="checkbox" name="choice" id="cb131" value="red_sore_around_nose"/><label for="cb131">red_sore_around_nose</label>
        <input type="checkbox" name="choice" id="cb132" value="yellow_crust_ooze"/><label for="cb132">yellow_crust_ooze</label>
            </div>
          
        </div>
        <div>
        <button type="submit" class="button3" id="button"><div class="proceed-to-next">Proceed to next step ...</div>
        </button>
      </form>
        
      </div>
    </div>
    <script>
      var button = document.getElementById("button");
      if (button) {
        button.addEventListener("click", function (e) {
          window.location.href = "../templates/result.html";
        });
      }
    </script>
  </body>
</html>
