<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/sign.css" />
 
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
    />
    
  </head>
  <body>
    <div class="sign-in14">
      <div class="part17">
        <img class="bg-icon14" alt="" src="../static/images/bg@2x.png" />
        <nav class="nav-bar7">
          <button
            class="sign-up14"
            autofocus
          >
            <a class="bg16" href="./sign.html"></a
            ><a class="sign-up15" href="./sign.html">Sign up</a></button
          ><button class="sign-in15" autofocus>
            <a class="bg16" href="./sign.html"></a
            ><a class="sign-in16" href="./sign.html">Sign in</a>
          </button>
          <div class="search-bar8">
            <div class="search-bar-child6"></div>
            <input
              class="input25"
              type="text"
              placeholder="Search here.."
            /><img class="icon18" alt="" src="../static/images/icon.svg" /><button
              class="btn8"
              autofocus
            ></button>
          </div>
          <button class="nortification-icon7" autofocus>
            <img class="vector-icon10" alt="" src="../static/images/vector@2x.png" /><img
              class="nortification-icon-child5"
              alt=""
              src="../static/images/ellipse-1@2x.png"
            /></button
          ><a class="logo7" href="./"
            ><span class="disease-predictor14"
              ><span class="disease-predictor-txt-container7"
                ><span class="disease-predictor15">Disease Predictor</span
                ><span class="span22">+</span></span
              ></span
            ><img class="icon19" alt="icon" src="../static/images/icon1@2x.png"
          /></a>
        </nav>
      </div>
      <div class="sign-in17" id="sign-in">
        <div class="group-parent7">
          <div class="group-parent7">
            <div class="group-child73"></div>
            <div class="sign-in-parent">
              <span class="sign-in18">Sign in</span
              ><b class="welcome-to">Welcome to </b
              ><button class="no-account-container" id="signup-btn"
                ><p class="no-account"><span>No Account?</span></p>
                <p class="sign-up16"><span>Sign up</span></p></button
              >
            </div>
            <div class="enter-your-username-or-email-a-parent">
              <span class="enter-your-username"
                >Enter your username or email address</span
              ><input
                class="instance-child"
                type="text" id="sigin-email"
                placeholder="Username or email address" required
              />
              <!-- <div class="username-or-email">Username or email address</div> -->
            </div>
            <div class="instance-parent">
              <div class="enter-your-password-parent">
                <span class="enter-your-username">Enter your Password</span>
                <input
                  class="instance-item"
                  type="text" id="sigin-password"
                  placeholder="Password" required
                />
                <div class="username-or-email">Password</div>
              </div>
              <a class="forgot-password" href="#">Forgot Password</a>
            </div>
            <div class="rectangle-parent21" id="groupContainer4">
              <button class="rectangle-a" id="sign-in-btn"><span class="sign-in19">Sign in</span></button>
            </div>
          </div>
          <img class="eye-1-icon" alt="" src="../static/images/eye-1.svg" />
        </div>
        <div class="group-parent8">
          <button class="rectangle-parent22" id="signinwithgoogle">
              <img class="google-icon" alt="" src="../static/images/google.svg" />
              <b class="sign-in-with">Sign in with Google</b>
          </button>
          <button class="rectangle-parent23">
            <img class="facebook-icon" alt="" src="../static/images/facebook.svg" />
          </button>
          <button class="rectangle-parent24">
            <img class="apple-icon" alt="" src="../static/images/apple.svg" />
          </button>
        </div>
        <div class="or">OR</div>
      </div>
      <div class="sign-up20" id="sign-up">
        <div class="sign-up-child"></div>
        <button class="have-an-account-sign-in-wrapper" id="signin-btn"><b class="have-an-account-container" id="haveAnAccount"
            ><p class="have-an-account"><span>Have an Account ?</span></p>
            <p class="sign-in22"><span> Sign in</span></p></b
          ></button
        ><span class="sign-up21">Sign up</span>
        <div class="rectangle-parent25" id="groupContainer">
          <button class="rectangle-button" id="sign-up-btn" autofocus></button
          ><a class="sign-up22">Sign up</a>
        </div>
        <div class="instance-group">
          <div class="enter-your-username-or-email-a-group">
            <span class="enter-your-username1"
              >Enter your username or email address</span
            ><input
              class="instance-inner"
              type="text"
              placeholder="Username or email address" id="signup-email"
            />
            <div class="username-or-email1">Username or email address</div>
          </div>
          <div class="enter-your-password-group">
            <span class="enter-your-username1">Enter your Password</span
            ><input
              class="rectangle-input"
              type="text"
              placeholder="Password" id="signup-password"
            />
            <div class="username-or-email1">Password</div>
          </div>
          <!-- <div class="instance-container">
            <div class="user-name-parent">
              <span class="user-name">User name</span
              ><input
                class="instance-child1"
                type="text"
                placeholder="User name"
              />
              <div class="user-name1">User name</div>
            </div>
            <div class="contact-number-parent">
              <span class="user-name">Contact Number</span
              ><input
                class="instance-child1"
                type="text"
                placeholder="Contact Number"
              />
              <div class="user-name1">Contact Number</div>
            </div>
          </div> -->
        </div>
        <b class="welcome-to1">Welcome to</b>
      </div>
      <div id="result-box">
        <h3 id="result"></h3>
        <button id="sign-out-btn" class="sign-out-btn-style">Logout</button>
      </div>
    </div>    
  </body>
  <!-- <script>
    var groupContainer4 = document.getElementById("groupContainer4");
    if (groupContainer4) {
      groupContainer4.addEventListener("click", function (e) {
        window.location.href = "./step-1.html";
      });
    }
    </script> -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.18.0/firebase-app.js";
      import { getAuth, GoogleAuthProvider, signInWithPopup,signInWithEmailAndPassword, createUserWithEmailAndPassword, signOut} from "https://www.gstatic.com/firebasejs/9.18.0/firebase-auth.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyC6tnXGcWWIHBAs9yU6Vq3V1zpdxFaz3bo",
        authDomain: "diseasepredictor1.firebaseapp.com",
        projectId: "diseasepredictor1",
        storageBucket: "diseasepredictor1.appspot.com",
        messagingSenderId: "430314100907",
        appId: "1:430314100907:web:06a1608cf0965fbf197fee"
      };
      // ------------------------------------------------
      document.getElementById('sign-in-btn').addEventListener('click',function(){
     const signinEmail = document.getElementById("sigin-email").value;
     const signinPassword = document.getElementById("sigin-password").value;
     signInWithEmailAndPassword(auth, signinEmail, signinPassword)
      .then((userCredential) => {
        const user = userCredential.user;
        document.getElementById('result-box').style.display="inline";
        document.getElementById('sign-in').style.display="none";
        document.getElementById('result').innerHTML="Welcome Back<br>"+signinEmail+" was Signin Successfully";
      })
      .catch((error) => {
        const errorCode = error.code;
        const errorMessage = error.message;
        document.getElementById('result-box').style.display="inline";
        document.getElementById('sign-in').style.display="none";
        document.getElementById('result').innerHTML="Sorry ! <br>"+errorMessage;
      });
    });
    //---------------------------------
    document.getElementById('sign-up-btn').addEventListener('click',function(){
     const signupEmail = document.getElementById("signup-email").value;
     const signupPassword = document.getElementById("signup-password").value;
     createUserWithEmailAndPassword(auth, signupEmail, signupPassword)
      .then((userCredential) => {
        const user = userCredential.user;
        document.getElementById('result-box').style.display="inline";
        document.getElementById('sign-up').style.display="none";
        document.getElementById('result').innerHTML="Welcome <br>"+signupEmail+" was Signup Successfully";
      })
      .catch((error) => {
        const errorCode = error.code;
        const errorMessage = error.message;
        document.getElementById('result-box').style.display="inline";
        document.getElementById('sign-up').style.display="none";
        document.getElementById('result').innerHTML="Sorry ! <br>"+errorMessage;
      });
    });
    //-------------------------------
    document.getElementById('sign-out-btn').addEventListener('click',function(){
      signOut(auth).then(()=>{
        document.getElementById('result-box').style.display="none";
        document.getElementById('sign-up').style.display="inline";
        //Sign out successful.
        document.getElementById('result').innerHTML="Welcome <br>"+signupEmail+" was Signup Successfully";
      }).catch((error)=>{
        //An error occured.
        document.getElementById('result').innerHTML="Sorry ! <br>"+errorMessage;
      });
    });
      // -----------------------------------------------------
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const provider = new GoogleAuthProvider(app);
      const auth = getAuth(app);
      var userDetail = undefined;
      signinwithgoogle.addEventListener('click',(e) => {
        signInWithPopup(auth, provider)
          .then((result) => {
            userDetail=result;
            // This gives you a Google Access Token. You can use it to access the Google API.
            console.log("User Detail : ",result);
            const credential = GoogleAuthProvider.credentialFromResult(result);
            console.log("Credential : ",credential);
            const token = credential.accessToken;
            // The signed-in user info.
            const user = result.user;
            alert(user.displayName);
            // IdP data available using getAdditionalUserInfo(result)
            // ...
          }).catch((error) => {
            // Handle Errors here.
            const errorCode = error.code;
            const errorMessage = error.message;
            // The email of the user's account used.
            // const email = error.customData.email;
            // The AuthCredential type that was used.
            const credential = GoogleAuthProvider.credentialFromError(error);
            // ...
            // alert(errorMessage);
            console.error(error);
          });
          
      })
    </script>
    <script src="../static/js/sign.js"></script>
</html>
